.left {
    overflow: hidden;
    min-height: 50px;
    margin-left: 50px;
    /*border: 2px dashed #f0f*/
}

.right {
    float: right;
    width: 250px;
    min-height: 50px;
    
    /*border: 2px dashed #00f*/
}

#input, button {
	width: 90%;
	padding: 1px 10px;
	margin-top: 4px;
}

#correctness {
	height: 30px;
}