.left {
    overflow: hidden;
    min-height: 50px;
    /*border: 2px dashed #f0f*/
}

.right {
    float: right;
    width: 250px;
    min-height: 50px;
    margin-left: 10px;
    /*border: 2px dashed #00f*/
}

/*This left right div stuff was gotten from here:;
http://stackoverflow.com/questions/6487085/two-divs-one-fixed-width-the-other-the-rest
*/
#input {
	width: 100%;
}